fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1
anyio==4.3.0
python-multipart==0.0.9
httpx==0.27.0

# ---- OpenTelemetry + CloudWatch Application Signals ----
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-instrumentation-httpx==0.46b0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-propagator-aws-xray==1.0.2
opentelemetry-propagator-b3==1.25.0
grpcio==1.65.5